<AuthorizeView>
    <Authorized>
        @context.User.Identity?.Name
        <Logout />
    </Authorized>
    <NotAuthorized>
        <a href="account/register">Регистрация</a>
        <a href="account/login">Вход</a>
    </NotAuthorized>
</AuthorizeView>
