@page "/"
@page "/coffees"

@inject ICoffeesService CoffeesService
@inject IShoppingCartsService ShoppingCartsService
@inject IToastService ToastService
@inject NavigationManager NavigationManager

@if (_coffees is null)
{
    <span>Загрузка...</span>
}
else
{
    <section class="section-content padding-y bg">
        <div class="container">

            <div class="row">

                <main class="col-md-9">

                    <header class="border-bottom mb-4 pb-3">
                        <div class="form-inline">
                            <span class="mr-md-auto">@_coffees.Count() товаров найдено </span>
                        </div>
                    </header>

                    <div class="row">

                        @foreach (var coffee in _coffees)
                        {
                            <div class="col-md-4">
                                <figure class="card card-product-grid">
                                    <figcaption class="info-wrap">
                                        <div class="fix-height">
                                            <a href="/coffees/@coffee.Id" class="title">
                                                @coffee.Name
                                            </a>
                                            <div class="price-wrap mt-2">
                                                <span class="price">RUB @coffee.UnitSellPriceRoubles</span>
                                            </div>
                                        </div>
                                        <AuthorizeView>
                                            <a @onclick="() => AddToCart(coffee.Id)"
                                            @onclick:preventDefault
                                               href="#"
                                               class="btn btn-block btn-primary">
                                                Добавить в корзину
                                            </a>
                                        </AuthorizeView>
                                        
                                    </figcaption>
                                </figure>
                            </div>
                        }

                    </div>

                </main>

            </div>

        </div>
    </section>
}

@code{
    private IEnumerable<CoffeeResponseModel>? _coffees;

    protected override async Task OnInitializedAsync()
    {
        await LoadDataAsync();
    }

    private async Task LoadDataAsync()
    {
        _coffees = await CoffeesService.GetAllAsync();
    }

    private async Task AddToCart(int id)
    {
        var cartRequest = new ShoppingCartRequestModel
        {
            CoffeeId = id,
            Quantity = 1
        };

        var result = await ShoppingCartsService.AddItem(cartRequest);

        if (!result.IsSuccessful)
        {
            ToastService.ShowError(result.Errors.First());
        }
        else
        {
            NavigationManager.NavigateTo("/cart", forceLoad: true);
        }
    }
}