@page "/order/confirmed/{Id}"
@attribute [Authorize]


<section class="section-pagetop bg">
    <div class="container text-center">
        <h1 class="title-page text-success">
            <i class="fas fa-check-circle"></i>
        </h1>
        <h1 class="title-page">
            Спасибо за заказ!
        </h1>
        <h5 class="text-muted">
            Ваш заказ оформлен.
        </h5>

        <br />

        <a class="btn btn-primary" href="/order/details/@Id"> Сведения о заказе </a>
        <a class="btn btn-outline-primary-light" href="/coffees"> Продолжить покупки </a>
    </div>
</section>

@code {
    [Parameter]
    public string Id { get; set; }
}
